*.o
*.elf
*.map
*.d
**/UMTDLL/.vs
**/UMTDLL/UMTDLL
**/UMTDLL/x64
**/*.X/nbproject/private
**/*.X/nbproject/Makefile-*
**/*.X/nbproject/Package-*
**/*.X/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/.generated_files
Gemfile*
**/__pycache__
